.card {
  background: linear-gradient(to top, rgba(233, 152, 115, 0.479), rgba(117, 36, 57, 0.267));
}

.face-box {
  font-size: 3em;
  margin: 0;
}

.logo {
  width: 70px;
  opacity: 0.8;
  margin-top: 20px;
}